In [1]:
# Importing all the required libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Loading the dataset into Pandas Dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29799 entries, 0 to 29798
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    29799 non-null  int64
 1   V1      29799 non-null  float64
 2   V2      29799 non-null  float64
 3   V3      29799 non-null  float64
 4   V4      29799 non-null  float64
 5   V5      29799 non-null  float64
 6   V6      29798 non-null  float64
 7   V7      29798 non-null  float64
 8   V8      29798 non-null  float64
 9   V9      29798 non-null  float64
 10  V10     29798 non-null  float64
 11  V11     29798 non-null  float64
 12  V12     29798 non-null  float64
 13  V13     29798 non-null  float64
 14  V14     29798 non-null  float64
 15  V15     29798 non-null  float64
 16  V16     29798 non-null  float64
 17  V17     29798 non-null  float64
 18  V18     29798 non-null  float64
 19  V19     29798 non-null  float64
 20  V20     29798 non-null  float64
 21  V21     29798 non-null  float64
 22  V22     29798 non-null  float64
 23  V23     29798 non-null  float64
 24  V24     29798 non-null  float64
 25  V25     29798 non-null  float64
 26  V26     29798 non-null  float64
 27  V27     29798 non-null  float64
 28  V28     29798 non-null  float64
 29  Amount  29798 non-null  float64
 30  Class   29798 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 7.0 MB

In [6]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# Since the last row contains all the missing values lets drop the last row
last_row = len(credit_card_data)-1
credit_card_data = credit_card_data.drop(credit_card_data.index[last_row])

In [8]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
credit_card_data['Class'].value_counts()

0.0    29704
1.0       94
Name: Class, dtype: int64

This Upper dataset is highly unbalanced and hence we cannot use it to train our data. Thus we will make a balanced dataset using 2*94 Legit transactions to train our data well.

In [10]:
# Fraud Transactions --> 94
# Legit Transactions ---> 29704
# So our data will have 94*2 = 188 Real Transactions.

In [11]:
# Separating Data for Analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [12]:
print(legit.shape)
print(fraud.shape)

(29704, 31)
(94, 31)

In [13]:
legit.Amount.describe() # Analysing the data

count    29704.000000
mean        79.570030
std        221.991154
min          0.000000
25%          6.637500
50%         20.000000
75%         70.652500
max       7879.420000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe() # Analysing the data

count      94.000000
mean       95.590000
std       257.920621
min         0.000000
25%         1.000000
50%         1.050000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [15]:
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28    Amount
Class                                    ...
0.0    21422.566422 -0.184395  0.106639  ...  0.009773  0.004475  79.57003
1.0    19007.702128 -8.099702  6.084984  ...  0.830627  0.101053  95.59000

[2 rows x 30 columns]

Sub-Sampling to Extract 188 datasets from legit dataset

In [16]:
legit_sample = legit.sample(n=188)

In [17]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [18]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
21272  31567  1.192521  0.198540  0.147221  ... -0.015154  0.012529    1.98    0.0
26690  34208 -5.608118  3.511658 -4.307411  ...  0.175738  0.021282    1.00    0.0
16668  28033 -0.333875  1.126726  1.146031  ...  0.245750  0.096311    8.91    0.0
28224  34908  1.277366  0.202672  0.195030  ... -0.031770  0.000988    0.99    0.0
22605  32335 -2.168388 -0.662924  2.708657  ...  0.350325  0.167913  150.00    0.0

[5 rows x 31 columns]

In [19]:
new_dataset.describe()

               Time          V1  ...       Amount       Class
count    282.000000  282.000000  ...   282.000000  282.000000
mean   21407.687943   -2.919526  ...   103.170745    0.333333
std    10999.100808    6.861019  ...   268.819239    0.472243
min       50.000000  -30.552380  ...     0.000000    0.000000
25%    11144.500000   -2.169544  ...     1.497500    0.000000
50%    25242.500000   -0.725148  ...    15.000000    0.000000
75%    30822.250000    1.024974  ...    84.482500    1.000000
max    35585.000000    1.616392  ...  2126.130000    1.000000

[8 rows x 31 columns]

In [20]:
new_dataset['Class'].value_counts()

0.0    188
1.0     94
Name: Class, dtype: int64

In [21]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    22607.680851 -0.329438  0.213598  ...  0.052393 -0.005376  106.961117
1.0    19007.702128 -8.099702  6.084984  ...  0.830627  0.101053   95.590000

[2 rows x 30 columns]

In [22]:
# Splitting data into Features and Targets
X = new_dataset.drop(columns = 'Class', axis = 1)
Y = new_dataset['Class']

In [23]:
X

        Time        V1        V2  ...       V27       V28  Amount
21272  31567  1.192521  0.198540  ... -0.015154  0.012529    1.98
26690  34208 -5.608118  3.511658  ...  0.175738  0.021282    1.00
16668  28033 -0.333875  1.126726  ...  0.245750  0.096311    8.91
28224  34908  1.277366  0.202672  ... -0.031770  0.000988    0.99
22605  32335 -2.168388 -0.662924  ...  0.350325  0.167913  150.00
...      ...       ...       ...  ...       ...       ...     ...
27362  34521  1.081234  0.416414  ...  0.021008  0.010559    1.52
27627  34634  0.333499  1.699873  ...  0.551002  0.305473   18.96
27738  34684 -2.439237  2.591458  ... -0.268649 -0.743713  125.30
27749  34687 -0.860827  3.131790  ...  1.373300  0.691195   19.02
29687  35585 -2.019001  1.491270  ...  0.626283  0.152440    0.76

[282 rows x 30 columns]

In [24]:
Y

21272    0.0
26690    0.0
16668    0.0
28224    0.0
22605    0.0
        ...
27362    1.0
27627    1.0
27738    1.0
27749    1.0
29687    1.0
Name: Class, Length: 282, dtype: float64

In [25]:
# Test Train Splitting 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y , random_state=2)

In [26]:
print(X.shape, X_train.shape, X_test.shape)

(282, 30) (225, 30) (57, 30)

Training The Data : MODEL TRAINING

In [27]:
model = LogisticRegression()

In [28]:
model.fit(X_train, Y_train) # This is training our model with test data

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation : ACCURACY SCORE

In [29]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
traing_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [30]:
print("The Training Data Accuracy is :",traing_data_accuracy)

The Training Data Accuracy is : 0.9733333333333334

In [31]:
# Accuracy Check on the test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [32]:
print("The Test Data Accuracy is :",test_data_accuracy)

The Test Data Accuracy is : 0.9649122807017544